In [1]:
import pandas as pd
import numpy as np

In [4]:
path = "C:\\Users\\pl72955\\Documents\\kaggle\\"

In [5]:
train = pd.read_csv(path+"sales_train_v2.csv")

In [6]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [7]:
train['date'] = pd.to_datetime(train['date'],format="%d.%m.%Y")

In [8]:
train['month'] = train['date'].dt.month
train['year'] = train['date'].dt.year
train['monthyear'] = train['month'].map(str)+train['year'].map(str)

In [9]:
train['shopitem'] = train['shop_id'].map(str)+train['item_id'].map(str)

In [25]:
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,month,year,monthyear,shopitem
0,2013-01-02,0,59,22154,999.00,1.0,1,2013,12013,5922154
1,2013-01-03,0,25,2552,899.00,1.0,1,2013,12013,252552
2,2013-01-05,0,25,2552,899.00,-1.0,1,2013,12013,252552
3,2013-01-06,0,25,2554,1709.05,1.0,1,2013,12013,252554
4,2013-01-15,0,25,2555,1099.00,1.0,1,2013,12013,252555

In [10]:
monthgroup = train.groupby([ 'shopitem', 'monthyear',])['item_cnt_day'].sum()
monthgroupdf = pd.DataFrame(monthgroup)

In [11]:
monthgroupdf.reset_index(inplace=True)  
monthgroupdf.head()

  shopitem monthyear  item_cnt_day
0    01000     12013           5.0
1    01000     22013           4.0
2   010004     22013           1.0
3    01001     12013           2.0
4   010012     12013           1.0

In [12]:
naive_results = pd.DataFrame(monthgroupdf.groupby('shopitem')['item_cnt_day'].mean())

In [13]:
naive_results.reset_index(inplace=True)

In [38]:
naive_results['shop'] = naive_results.shopitem.str[:2]
naive_results['item'] = naive_results.shopitem.str[2:]
naive_results

In [14]:
test = pd.read_csv(path+'test.csv')

In [16]:
test['shopitem'] = test['shop_id'].map(str)+test['item_id'].map(str)
submit = test.merge(naive_results, on='shopitem', how='left')

In [17]:
submit['item_cnt_day'] = submit['item_cnt_day'].fillna(.5)

In [18]:
submit = submit[['ID','item_cnt_day']]

In [19]:
submit = submit.rename(columns={'item_cnt_day':'item_cnt_month'})
submit['item_cnt_month'] = submit['item_cnt_month'].fillna(.5)
submit.to_csv(path+'submit2.csv', index=False, header=True)

In [21]:
submit.sort(columns=['item_cnt_month'], ascending=False).head()

C:\Users\pl72955\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

            ID  item_cnt_month
36160    36160      666.666667
46360    46360      664.466667
56560    56560      494.586207
41260    41260      434.129032
102460  102460      350.466667

In [22]:
submit.describe()

                  ID  item_cnt_month
count  214200.000000   214200.000000
mean   107099.500000        1.260027
std     61834.358168        3.577162
min         0.000000        0.000000
25%     53549.750000        0.500000
50%    107099.500000        1.000000
75%    160649.250000        1.250000
max    214199.000000      666.666667

In [23]:
train.sort(columns=['monthyear'], ascending=False).head()

C:\Users\pl72955\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,month,year,monthyear,shopitem
2837781,2015-09-13,32,39,16287,199.0,1.0,9,2015,92015,3916287
2848617,2015-09-06,32,52,248,249.0,1.0,9,2015,92015,52248
2848615,2015-09-10,32,52,45,299.0,1.0,9,2015,92015,5245
2848614,2015-09-09,32,52,4719,999.0,1.0,9,2015,92015,524719
2848613,2015-09-17,32,52,4719,999.0,1.0,9,2015,92015,524719

In [26]:
test.head()

   ID  shop_id  item_id shopitem
0   0        5     5037    55037
1   1        5     5320    55320
2   2        5     5233    55233
3   3        5     5232    55232
4   4        5     5268    55268